<!DOCTYPE html>
<html lang="en">
<body style="background-color: aquamarine;">
    <center><h1>IRIS FLOWER DETECTION</h1><br>

    <form action = '\predict' method="POST">
    <b><b>SepalLengthCm:  <input type="text", name='SepalLengthCm'> <br><br>
        SepalWidthCm:  <input type="text", name='SepalWidthCm'> <br><br>
        PetalLengthCm:  <input type="text", name='PetalLengthCm'> <br><br>
        PetalWidthCm: <input type="text", name='PetalWidthCm'> <br><br><br></b>
        <input type="submit" , value='predict' ></b>
    </form>
    </center>
</body>
</html>